@import '../../common.module.scss';


.formContainer {
    :global(.adm-list-body) {
        background-color: red;
    }

    :global(.adm-list-item) {
        padding:0;
        margin:0;
    }
    :global(.adm-list-item-content){
        border: none;
    }
}

.formTitle {
        font-size:  25px;
        font-weight: 700;
        height: 68px;
        line-height: 68px;
    }

.form {
        margin: 0 30px;
    }

.input {
    composes: input from '/src/common.module.scss'
}

.changeTypeButton {
    color: $tBlue
}

.birthdayTitle {
    font-size: 14px; 
    color: #000;
    margin-top: 30px;
    font-size: 700;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 20px;
    width: 100%;
}

.footerButton {
    margin: 0 auto;
    border-radius: 50px;
    background-color: $tGray;
    // color: #fff;
    font-size: 16px;
    width: 80%;
    height: 50px;
}
