.button {
    height: 30px;
    margin: 10px;
    line-height: 30px;
    padding: 0 15px;
    background-color: #1d9bf0;
    border-radius: 9999px;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    float: right;
}