@import '../../index.scss';

.container {
    background-color: white;
    padding: 20px 0;
    :global(.adm-step.container
    adm-step-indicator) {
        width: 70px;
    }
    :global(.adm-step.container
    adm-step-title){
        margin-top: -10px;
        color: #333;
    }
}
.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.header {
    height: 20px;
    font-size:14px;
    .nickname {
        font-weight: bold;
        margin-right: 5px;
    }
    .username {
        color: $tFontColor;
    }
}
.response {
    margin-top: 10px;
    color: $tFontColor;
    font-size: 14px;
    font-weight: 400;
    .responseName {
        margin-left: 5px;
        color: #1d9bf0;
    }
}


