@import '../../common.module.scss';

.birthdayInput {
    composes: input from '/src/common.module.scss';
    margin-top: 10px;
}

.datepickerIcon {
    height: 24px;
    float: right;
}

.datepickerPlaceHolder {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.birthdayTitleItem{
    color: tBlue;
}