{
    "extends": "airbnb",
    "parser": "@babel/eslint-parser",
    "parserOptions":{
        "requireConfigFile": false,
        "babelOptions":{
            "presets":["@babel/preset-react"]
        }
    },
    "rules":{
        "jsx-ally/no-static-element-interactions":0,
        "jsx-ally/click-events-have-key-events":0,
        "react/jsx-filename-extension": [1,{"extensions":[".js"]}],
        "react/react-in-jsx-scope":0,
        "react/function-component-definition": 0
    },
    "env":{
        "browser":true
    },
    "settings":{
        "import/resolver":{
            "alias": {
                "map": [
                    ["@components","./src/components"],
                    ["@assets","./src/assets"]
                ]
            }
        }
    }
}