$tBlue: #1d9bf0;
$tGray: #868a8c;
$tGrayWhite: #cfd9de;
.input {
    border: solid 1px $tGrayWhite;
    border-radius: 5px;
    height: 53px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formContainer {
    :global(.adm-list-body) {
        background-color: none;
        border: none;
    }

    :global(.adm-list-item) {
        padding:0;
        margin:0;
    }
    :global(.adm-list-item-content){
        padding: 0;
        margin: 0;
    }

    :global(.adm-list-item-content){
        border: none;
    }
}

.formTitle {
    font-size:  25px;
    font-weight: 700;
    height: 68px;
    line-height: 68px;
}