body {
  margin: 100px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

$tBlue: #1d9bf0;
$tGray: #868a8c;
$tGrayWhite: #cfd9de;
$tFontColor: #536471;
$tBorderColor: #eee;
$tBlackColor: #0f1419;

:root:root {
  
}

.adm-text-area {
  --placeholder-color: #536471;
}